<div class="post-container w-[60%] mx-auto">
    <div class="post-header">
            <span class="font-semibold text-2xl"><%= @post.title%> By <span ><%= @post.author.name%></span></span>
            <ul>
                <li class="font-semibold text-sm">Comments: <%= @post.comments.count%> </li>
                <li class="font-semibold text-sm">Likes: <%=@post.likes_counter%> </li>
            </ul>
    </div>


    <div class="post-body bg-gray-200 border-2 my-5  rounded-md   hover:bg-gray-400">
        <%=@post.text%>
        <%if can? :destroy, @post %>
            <%= button_to 'Delete', user_post_path(user_id: @post.author_id, id: @post.id), method: :delete, data: {confirm: 'Are you sure you want to delete this post ?'}, class: 'border px-3 py-1 text-white bg-black my-5' %>
        <% end %>
    </div>
        <h4 class="comment-title font-semibold text-lg">Comments: <%=@count %></h4>

   <div class="comment-container border-2 rounded-md">
  <% @post.comments.includes(:author).each do |comment| %>
    <div class="comment-card py-2 flex items-center justify-between">
      <span class="py-1 px-3 font-semibold"><%= comment.author.name %>: <span class="font-normal"><%= comment.text %></span></span>
      <% if can? :delete, comment %>
        <%= button_to 'Delete', user_post_comment_path(user_id: comment.author_id, post_id: comment.post_id, id: comment.id), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'border px-3 py-1 text-white bg-black mx-3' %>
      <% end %>
    </div>
  <% end %>
</div>


    <div class="like-comment-container">
            <%= form_with model: @like, url:user_post_likes_path(post_id: @post.id) do |l| %>
                <%= l.submit  "Like", class:"bg-black text-white/80 border-2 px-3 py-1 rounded-md new-post-btn hover:text-white hover:font-semibold"%>
            <% end %>
            <%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id), class: 'bg-black text-white/80 border-2 px-3 py-1 rounded-md new-post-btn hover:text-white hover:font-semibold' %>
    </div>
</div>